<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Developer</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>About Developer</h1>
    <h2>My Team</h2>
    <ul>
      <li>Trinh Minh Duc - Developer</li>
    </ul>
    <h2>Contact Me</h2>
    <p>If you have any questions or feedback, please don't hesitate to contact us:</p>
    <ul>
      <li>Email: minhduckan123@gmail.com</li>
      <li>Phone: 0915934900</li>
      <li>Address: Hà Nội, Việt Nam</li>
      <li><a href="https://www.facebook.com/gripperti521.stronger2/">Facebook</a></li>
    </ul>
  </body>
</html>
