<link rel="stylesheet" href="/static/footer.css"/>
<footer>
    <div class="footer-content">
        <div class="nav">
            <div class="container-nav">
                <button class="btn-footer"><h3>About us</h3></button>
                <div>
                    <ul>
                        <li><a href="/developer">Our developer</a></li>
                        <li><a href="/aboutus">Press</a></li>
                        <li><a href="https://www.facebook.com/gripperti521.stronger2/" target="_blank">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-nav">
                <button class="btn-footer"><h3>Category</h3></button>
                <div>
                    <ul>
                        <li><a href="/subjects">Book by Category</a></li>
                    </ul>
                </div>
            </div>
            <div class="container-nav">
                <button class="btn-footer"><h3>More from BigBookSale</h3></button>
                <div>
                    <ul>
                        <li><a href="https://ibb.co/rZWxSfD" target="_blank">Donate</a></li>
                        <li><a href="https://ibb.co/tCnFNjL" target="_blank">Advanced Sponsor</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div style="margin: 30px 0;width: 100%;height: 1px;background-color: #bec0c2;"></div>
        <div class="nav-bottom-footer">
            <div class="nav-footer-sociallink">
                <ul>
                    <li>
                        <a href="https://www.facebook.com/gripperti521.stronger2/" aria-label="Facebook" target="_blank" rel="nofollow noopener noreferrer" class="Link_l16v8jjm"><svg width="21" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.41 12.491l.467-3.076h-2.918V7.418c0-.841.408-1.662 1.714-1.662H15v-2.62s-1.204-.207-2.355-.207c-2.403 0-3.974 1.473-3.974 4.14v2.346H6v3.076h2.671v7.438h3.288V12.49h2.451z" fill="currentColor"></path></svg></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/Minhc10541564" aria-label="Twitter" target="_blank" rel="nofollow noopener noreferrer" class="Link_l16v8jjm"><svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.052 7.667c.011.164.011.328.011.492 0 5.004-3.505 10.77-9.913 10.77a9.286 9.286 0 01-5.35-1.7c.28.036.55.047.841.047 1.629 0 3.128-.597 4.326-1.617-1.532-.035-2.816-1.125-3.258-2.625.216.035.432.059.658.059.313 0 .626-.047.917-.129-1.596-.352-2.794-1.875-2.794-3.715v-.047a3.301 3.301 0 001.575.48c-.938-.679-1.553-1.84-1.553-3.152 0-.703.172-1.347.474-1.91C5.701 6.917 8.28 8.417 11.17 8.581a4.63 4.63 0 01-.086-.867c0-2.086 1.553-3.785 3.484-3.785 1.003 0 1.91.457 2.546 1.195a6.538 6.538 0 002.211-.914 3.735 3.735 0 01-1.531 2.086A6.553 6.553 0 0019.8 5.71a7.874 7.874 0 01-1.748 1.957z" fill="currentColor"></path></svg></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/minhduckan123/" aria-label="Instagram" target="_blank" rel="nofollow noopener noreferrer" class="Link_l16v8jjm"><svg width="20" height="20" viewBox="0 0 19 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M9.5 6.75a3.25 3.25 0 100 6.5 3.25 3.25 0 000-6.5z" fill="currentColor"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M4.27 1.081a47.47 47.47 0 0110.46 0c1.9.212 3.43 1.708 3.653 3.613a45.67 45.67 0 010 10.611c-.223 1.905-1.754 3.4-3.652 3.613a47.469 47.469 0 01-10.461 0C2.37 18.706.84 17.21.617 15.305a45.672 45.672 0 010-10.611c.223-1.905 1.754-3.4 3.653-3.613zM14.5 4a1 1 0 100 2 1 1 0 000-2zm-9.75 6a4.75 4.75 0 119.5 0 4.75 4.75 0 01-9.5 0z" fill="currentColor"></path></svg></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/channel/UC7KdPQoZCeWV3YdtfOOMZIg" aria-label="Youtube" target="_blank" rel="nofollow noopener noreferrer" class="Link_l16v8jjm"><svg width="22" height="22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.845 6.963c-.196-.8-.772-1.431-1.503-1.645-1.326-.39-6.642-.39-6.642-.39s-5.316 0-6.642.39c-.731.214-1.307.844-1.503 1.645C2.2 8.414 2.2 11.442 2.2 11.442s0 3.028.355 4.479c.196.8.772 1.405 1.503 1.619 1.326.389 6.642.389 6.642.389s5.316 0 6.642-.389c.731-.214 1.307-.818 1.503-1.619.355-1.451.355-4.479.355-4.479s0-3.028-.355-4.48zM8.962 14.19V8.693l4.443 2.749-4.443 2.749z" fill="currentColor"></path></svg></a>
                    </li>
                </ul>
            </div>
            <div>
                <ul></ul>
                <div id="policy">
                    This site is protected by reCAPTCHA and the Google 
                    <a href="https://policies.google.com/privacy" rel="nofollow noopener noreferrer" target="_blank" class="RecaptchaLink_r19lh68e">Privacy Policy</a>
                    and
                    <a href="https://policies.google.com/terms" rel="nofollow noopener noreferrer" target="_blank" class="RecaptchaLink_r19lh68e">Terms of Service</a>
                    apply.
                </div>
            </div>
        </div>
        <span class="nav-footer-copyright">Copyright © 2022-2023 BIGBOOKSALE WEBSITE</span>
    </div>
</footer>