<!-- {% if user %}
{% include 'banner2.html' %}
{% else %}
{% include 'banner1.html' %}
{% endif %} -->
<script src="/static/my_cart.js/"></script>
<body>
    <main class="deltail-nav">
        <table>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        {% for book in books %}
        <tr>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td class="price">{{ book[4] }}</td>
            <td class="quantity">{{ book[-1] }}</td>
            <td class="total"></td>
            <td>
                <form action="/pay" method="post" style="display:inline;">
                    <input type="hidden" name="book_id" value="{{ book[0] }}">
                    <input type="hidden" name="quantity" value="{{ book[-1] }}">
                    <button class="pay-button" data-book-id="{{ book[0] }}" data-price="{{ book[4] }}" data-quantity="{{ book[-1] }}">Pay Now</button>
                </form>
                <form action="/remove_from_cart" method="post" style="display:inline;">
                    <input type="hidden" name="price" value="{{ book[4] }}">
                    <input type="hidden" name="book_id" value="{{ book[0] }}">
                    <input type="hidden" name="quantity" value="{{ book[-1] }}">
                    <input type="submit" value="Delete from cart">
                </form>
            </td>
        </tr>
        {% endfor %}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <form action="/pay_all" method="post" style="display:inline;">
                    <button id="pay-all-button">Pay All</button>
                </form>
            </td>
        </tr>
        </table>
    </main>
</body>
{% include 'footer.html' %}

<script>
    const prices = document.querySelectorAll('.price');
    const quantities = document.querySelectorAll('.quantity');
    const totals = document.querySelectorAll('.total');
    for (let i = 0; i < prices.length; i++) {
        const price = parseFloat(prices[i].textContent);
        const quantity = parseFloat(quantities[i].textContent);
        const total = price * quantity;
        totals[i].textContent = total.toFixed(2);
    }
</script>