<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css"/>
    <title>BookSale Login</title>
</head>
<body>
    <div class="main-nav">
        <div class="nav-img">
            <img class="logo-nav" src="/static/Imgs/Logo.png">
        </div>
        <form method="post">
            <div class="first-nav">
                <p>Don't have an account?</p>
                <a href="/signup">Sign up</a>
            </div>
            <div class="second-nav">
                <div>
                    <label>Email address</label><br>
                </div>
                <input name="username" type="email" required>
            </div>
            <div class="third-nav">
                <div>
                    <label>Password</label>
                </div>
                <input name="password" type="password" required>
            </div>
            <div class="check-box-nav">
                <input type="checkbox" checked="checked" name="remember">
                <span>Remember me</span>
            </div>
            <button class="button-nav" type="submit">Log in</button>
            <hr>
        </form>
        {% if error %}
        <div>
            <button class="danger button-nav">{{ error }}</button> 
        </div>
        {% endif %}
    </div>
    <footer>
        ©2023 BigBookSale, Inc. All Rights Reserved.
    </footer>
</body>
</html>