<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/static/Imgs/favicon.jpg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/banner.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/banner.js/"></script>
    <title>BigBookSale Blog | Marketing, Sales, Agency, and Customer Success Content </title>
</head>
<body>
    <nav class="banner-nav">
        <div class="banner-nav-nav">
            <a class="img-banner-nav" href="/">
                <img src="/static/Imgs/Logo.png" width="120">
            </a>
            <div class="content-banner-nav-nav">
                <ul>
                    <li><a href="/home" role="button">Home</a></li>
                    <li>
                        <div class="dropdown">
                            <button>
                                <a href="#" class="dropbtn" role="button">Category 
                                  <i class="fa fa-caret-down"></i>
                                </a>
                            </button>
                            <div class="dropdown-content dropdown-content-none">
                                <a href="/subjects">Subjects</a>
                                <a href="/Business%20Economics">Trending</a>
                                <a href="/Art%20History">Collections</a>
                                <a href="/random">Random Book</a>
                                <a href="/advanced_search">Advanced Search</a>
                            </div>
                        </div> 
                    </li>
                    <li><a href="/my_cart" role="button">My Cart</a></li>
                    <li><a href="/aboutus" role="button">About us</a></li>
                </ul>
                <div class="dropdown">
                    <form id="search-form" method="post" action="/search">
                        <button type="button" id="search-btn"><i class="fa fa-search"></i></button>
                        <input type="text" placeholder="Search.." name="keyword" class="input-nav" id="search-input">
                    </form>
                    <div id="search-results" class="dropdown-content dropdown-content-none search_live">
                        <ul style="display: table-row;"></ul>
                    </div>
                </div>
                <ul class="user-nav">
                    <li><a class="join-nav" href="/signup" role="button">Join</a></li>
                    <li><a href="/signin" role="button">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>    
</body>
</html>