<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/login.css"/>
    <title>Get start with BigSaleBook</title>
</head>
<body>
    <div class="page">
        <div class="container-nav">
            <div>
                <a href role="button"><img width=128 src="/static/Imgs/Logo.png"></a>
            </div>
            <div>
                <form>
                    <span>
                        <span>Have an account? </span>
                        <a href="/signin">Sign in</a>
                        <span>.</span>
                    </span>
                </form>
            </div>
        </div>
        <div class="container2-nav">
            <div></div>
            <div class="nav-nav">
                <div class="container2-nav-nav">
                    <div>
                        <h1>Create your free account</h1>
                    </div>
                    <div>
                        <form method="post">
                            <div class="second-nav">
                                <div>
                                    <label>Name</label><br>
                                </div>
                                <input name="name" type="name" required>
                            </div>
                            <div class="second-nav">
                                <div>
                                    <label>Email address</label><br>
                                </div>
                                <input name="username" type="email" required>
                            </div>
                            <div class="third-nav">
                                <div>
                                    <label>Password</label>
                                </div>
                                <input name="password" type="password" required>
                            </div>
                            <div class="check-box-nav">
                                <input type="checkbox" checked="checked" name="remember">
                                <span>Remember me</span>
                            </div>
                            <button class="button-nav" type="submit">Sign up</button>
                            <hr>
                        </form>
                    </div>
                    <div class="chill-nav">
                        <form action>
                            <span>We're committed to your privacy. BigBookSale uses the information you provide to us to contact you about our relevant content, products, and services. You may unsubscribe from these communications at any time. For more information, check out our </span>
                            <a href="/policy">Privacy Policy</a>
                        </form>
                    </div>
                </div>
            </div>
            <div class="img-nav">
                <img src="/static/Imgs/book.png">
                <h4>BigBookSale's CRM is 100% free.</h4>
                <p>No credit card needed.</p>
            </div>
        </div>
    </div>
</body>
</html>